body{
    background-color: rgb(2, 2, 2);
    color: rgb(184, 83, 0);
    text-align: center;
}
.video{
    margin-top: 40px;
    
}
.video iframe{
    border: solid rgb(128, 0, 0) 4px;
    border-radius: 16px;
}
.mapa iframe{
    border: solid rgb(128, 0, 0) 4px;
    border-radius: 16px;
}

img{
    border: solid rgb(128, 0, 0) 4px;
    border-radius: 16px;
    height: 400px;
    right: 320px;
}